@model List<ProductsItem>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var product in Model)
            {
                @*<vc:product-item title="@product.Title"
                                 start-count="@product.StartCount"
                                 old-price="@product.OldPrice"
                                 price="@product.Price"
                                 image-url="@product.ImageUrl"
                                 is-sale="@product.IsSale" />*@

                @await Component.InvokeAsync("ProductItem" , new { title = product.Title, startCount = product.StartCount , oldPrice = product.OldPrice, price = product.Price, imageUrl = @product.ImageUrl , isSale = product.IsSale })
            }
        </div>
    </div>
</section>

@section scripts{
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
}